RewriteEngine On

# Allow direct access to actual files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Disable caching for JS and CSS files during development
<FilesMatch "\.(js|css)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>

# Allow direct access to asset directories
RewriteRule ^(assets|custom|php_action)/ - [L]

# Rewrite all other requests to router.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ router.php [QSA,L]